{% set bodyClass = "page-home" %}
<!-- index.njk -->
{% extends "layouts/master.njk" %}

{% block content %}
	<div class="hero is-bg-img text-center" style="background-image: url(assets/images/hero/hero.jpg);">
		<div class="hero-body">
			<div class="wrapper">
				<h1 class="hero-title">başarı bir yolculuktur, bir varoluş noktası değil</h1>
			</div>
		</div>
		<div class="hero-footer">
			<div class="wrapper">
				<a href="#" class="scroll-icon"></a>
			</div>
		</div>
	</div>
	<div class="site-content">
		<section class="section intro has-divider divider-white">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="divider divider-top" width="100%" height="100" viewBox="0 0 100 101" preserveAspectRatio="none"><path d="M0 0 L0 100 L100 100 L100 0 L50 100 Z"></path></svg>
			<div class="wrapper">
				<div class="row">
					<div class="col-xs-12">
						<div class="intro-header">
							<h2 class="intro-title">düşünce biçimi - dili kullanma - davranışlar - değişim</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="intro-box">
							<h3 class="intro-caption">Profesyonel Koçluk</h3>
							<p class="intro-desc"><strong>Koçluk</strong> eğitiminin kişide yarattığı en güzel farkındalık  doğru iletişim araçlarını kullanarak, ilerlemenin daha rahat ve kolay olmasıdır. </p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="intro-box intro-box-alt">
							<h3 class="intro-caption">nlp practıtoner </h3>
							<p class="intro-desc"><strong>Neuro</strong> ile; insanların görme <br><strong>Linguistic</strong> ile; yaşam deneyimlerinin <br>kodlarını değiştir <br><strong>Programming</strong> ile: arzu edilen deneyimi yakala</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="intro-footer">
							<span>kahve içerken konuşalım?</span>
							<span><img src="assets/images/kahve_icelim.png" alt="kahve içerken konuşalım?"></span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section course-grid">
			<div class="wrapper">
				<span class="border"></span>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="course-bg-image">
							<img src="assets/images/intro/intro_01.jpg" alt="">
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="egitimler.html" class="course-link bg-gray">
							<img src="assets/images/intro/yasam_koclugu_intro.png" alt="yaşam koçluğu">
							<span>yaşam koçluğu</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="egitimler.html" class="course-link bg-white">
							<img src="assets/images/intro/ogrenci_koclugu_intro.png" alt="öğrenci motivasyon koçluğu">
							<span>öğrenci motivasyon koçluğu</span>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<a href="egitimler.html" class="course-link bg-white">
							<img src="assets/images/intro/kariyer_koclugu_intro.png" alt="kariyer koçluğu">
							<span>kariyer koçluğu</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="egitimler.html" class="course-link bg-gray">
							<img src="assets/images/intro/iliski_koclugu_intro.png" alt="ilişki koçluğu">
							<span>ilişki koçluğu</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="course-bg-image">
							<img src="assets/images/intro/intro_02.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section seminar-carousel seminar-grid">
			<div class="wrapper">
				<div class="row seminar-title-row">
					<div class="col-xs-12">
						<h1><span>Seminerler</span></h1>
					</div>
				</div>
				<div class="row seminar-row">
					<div class="col-xs-12">
						<div class="carousel">
							<div class="carousel-inner owl-carousel owl-theme" id="seminarCarousel">
								<div class="carousel-item">
									<a href="#" class="seminar-card">
										<span class="seminar-header">
											<span class="seminar-title">liderlik ve motivasyon</span>
										</span>
										<span class="seminar-body">
											<img class="seminar-icon" src="assets/images/seminerler/liderlik.png" alt="liderlik ve motivasyon">
										</span>
										<span class="seminar-footer">
											<span class="seminar-duration">süre: 2 gün</span>
										</span>
									</a>
								</div>
								<div class="carousel-item">
									<a href="#" class="seminar-card">
										<span class="seminar-header">
											<span class="seminar-title">kriz yönetimi</span>
										</span>
										<span class="seminar-body">
											<img class="seminar-icon" src="assets/images/seminerler/krizyonetimi.png" alt="kriz yönetimi">
										</span>
										<span class="seminar-footer">
											<span class="seminar-duration">süre: 2 gün</span>
										</span>
									</a>
								</div>
								<div class="carousel-item">
									<a href="#" class="seminar-card">
										<span class="seminar-header">
											<span class="seminar-title">yaratıcılık ve inovasyon</span>
										</span>
										<span class="seminar-body">
											<img class="seminar-icon" src="assets/images/seminerler/yaraticilik.png" alt="yaratıcılık ve inovasyon">
										</span>
										<span class="seminar-footer">
											<span class="seminar-duration">süre: 2 gün</span>
										</span>
									</a>
								</div>
								<div class="carousel-item">
									<a href="#" class="seminar-card">
										<span class="seminar-header">
											<span class="seminar-title">müzakere teknikleri</span>
										</span>
										<span class="seminar-body">
											<img src="assets/images/seminerler/muzakere.png" alt="müzakere teknikleri">
										</span>
										<span class="seminar-footer">
											<span class="seminar-duration">süre: 2 gün</span>
										</span>
									</a>
								</div>
								<div class="carousel-item">
									<a href="#" class="seminar-card">
										<span class="seminar-header">
											<span class="seminar-title">liderlik ve motivasyon</span>
										</span>
										<span class="seminar-body">
											<img class="seminar-icon" src="assets/images/seminerler/liderlik.png" alt="liderlik ve motivasyon">
										</span>
										<span class="seminar-footer">
											<span class="seminar-duration">süre: 2 gün</span>
										</span>
									</a>
								</div>
								<div class="carousel-item">
									<a href="#" class="seminar-card">
										<span class="seminar-header">
											<span class="seminar-title">kriz yönetimi</span>
										</span>
										<span class="seminar-body">
											<img class="seminar-icon" src="assets/images/seminerler/krizyonetimi.png" alt="kriz yönetimi">
										</span>
										<span class="seminar-footer">
											<span class="seminar-duration">süre: 2 gün</span>
										</span>
									</a>
								</div>
								<div class="carousel-item">
									<a href="#" class="seminar-card">
										<span class="seminar-header">
											<span class="seminar-title">yaratıcılık ve inovasyon</span>
										</span>
										<span class="seminar-body">
											<img class="seminar-icon" src="assets/images/seminerler/yaraticilik.png" alt="yaratıcılık ve inovasyon">
										</span>
										<span class="seminar-footer">
											<span class="seminar-duration">süre: 2 gün</span>
										</span>
									</a>
								</div>
								<div class="carousel-item">
									<a href="#" class="seminar-card">
										<span class="seminar-header">
											<span class="seminar-title">müzakere teknikleri</span>
										</span>
										<span class="seminar-body">
											<img src="assets/images/seminerler/muzakere.png" alt="müzakere teknikleri">
										</span>
										<span class="seminar-footer">
											<span class="seminar-duration">süre: 2 gün</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
