{% set bodyClass = "page-seminar" %}
<!-- index.njk -->
{% extends "layouts/master.njk" %}

{% block content %}
	<div class="site-banner">
		<div class="wrapper">
			<ol class="breadcrumb">
				<li><a href="#">anasayfa</a></li>
				<li class="active">seminerler</li>
			</ol>
		</div>
	</div>
	<div class="site-content">
		<section class="section seminar-grid">
			<div class="wrapper">
				<div class="row seminar-title-row">
					<div class="col-xs-12">
						<h1><span>Seminerler</span></h1>
					</div>
				</div>
				<div class="row seminar-row">
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="seminar-card">
							<span class="seminar-header">
								<span class="seminar-title">liderlik ve motivasyon</span>
							</span>
							<span class="seminar-body">
								<img class="seminar-icon" src="assets/images/seminerler/liderlik.png" alt="liderlik ve motivasyon">
							</span>
							<span class="seminar-footer">
								<span class="seminar-duration">süre: 2 gün</span>
							</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="seminar-card">
							<span class="seminar-header">
								<span class="seminar-title">kriz yönetimi</span>
							</span>
							<span class="seminar-body">
								<img class="seminar-icon" src="assets/images/seminerler/krizyonetimi.png" alt="kriz yönetimi">
							</span>
							<span class="seminar-footer">
								<span class="seminar-duration">süre: 2 gün</span>
							</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="seminar-card">
							<span class="seminar-header">
								<span class="seminar-title">yaratıcılık ve inovasyon</span>
							</span>
							<span class="seminar-body">
								<img class="seminar-icon" src="assets/images/seminerler/yaraticilik.png" alt="yaratıcılık ve inovasyon">
							</span>
							<span class="seminar-footer">
								<span class="seminar-duration">süre: 2 gün</span>
							</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="seminar-card">
							<span class="seminar-header">
								<span class="seminar-title">müzakere teknikleri</span>
							</span>
							<span class="seminar-body">
								<img src="assets/images/seminerler/muzakere.png" alt="müzakere teknikleri">
							</span>
							<span class="seminar-footer">
								<span class="seminar-duration">süre: 2 gün</span>
							</span>
						</a>
					</div>
				</div>
				<div class="row seminar-row">
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="seminar-card">
							<span class="seminar-header">
								<span class="seminar-title">liderlik ve motivasyon</span>
							</span>
							<span class="seminar-body">
								<img class="seminar-icon" src="assets/images/seminerler/liderlik.png" alt="liderlik ve motivasyon">
							</span>
							<span class="seminar-footer">
								<span class="seminar-duration">süre: 2 gün</span>
							</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="seminar-card">
							<span class="seminar-header">
								<span class="seminar-title">kriz yönetimi</span>
							</span>
							<span class="seminar-body">
								<img class="seminar-icon" src="assets/images/seminerler/krizyonetimi.png" alt="kriz yönetimi">
							</span>
							<span class="seminar-footer">
								<span class="seminar-duration">süre: 2 gün</span>
							</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="seminar-card">
							<span class="seminar-header">
								<span class="seminar-title">yaratıcılık ve inovasyon</span>
							</span>
							<span class="seminar-body">
								<img class="seminar-icon" src="assets/images/seminerler/yaraticilik.png" alt="yaratıcılık ve inovasyon">
							</span>
							<span class="seminar-footer">
								<span class="seminar-duration">süre: 2 gün</span>
							</span>
						</a>
					</div>
					<div class="col-xs-12 col-sm-3">
						<a href="#" class="seminar-card">
							<span class="seminar-header">
								<span class="seminar-title">müzakere teknikleri</span>
							</span>
							<span class="seminar-body">
								<img class="seminar-icon" src="assets/images/seminerler/muzakere.png" alt="müzakere teknikleri">
							</span>
							<span class="seminar-footer">
								<span class="seminar-duration">süre: 2 gün</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}
