	<section class="call-to-action">
		<div class="wrapper">
			<div class="row">
				<p class="title">kararsız kaldım?</p>
				<ul class="links">
					<li><a href="iletisim.html">iletişime geç</a></li>
					<li><a href="egitimler.html">eğitimleri incele</a></li>
				</ul>
			</div>
		</div>
	</section>
	<footer class="site-footer" id="footer">
		<div class="wrapper">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-sm-push-8">
					<div class="copyright">
						<span>Copyright 2018 &copy; Her Hakkı Saklıdır</span>
						<a href="#">web tasarım sekiziki</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-sm-pull-4 col-sm-offset-4">
					<ul class="social-links">
						<li><a href="#">facebook</a></li>
						<li><a href="#">twitter</a></li>
						<li><a href="#">instagram</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
