<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ site.lang }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ site.lang }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ site.lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ site.lang }}"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	<link rel="icon" type="image/x-icon" href="{{ site.icon }}" />
	<meta name="theme-color" content="{{ site.metaColor }}">
	<link rel="stylesheet" href="assets/css/style.min.css">
	<script src="assets/js/modernizr.min.js"></script>
	<!--[if lt IE 9]>
		<script src="assets/js/html5-respond.min.js"></script>
	<![endif]-->
</head>
<body class="{{ bodyClass }}">
{% include "partials/header.njk" %}
{% block content %} {% endblock %}
{% include "partials/footer.njk" %}
{% block foot %} {% endblock %}
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/scripts.min.js"></script>
</body>
</html>
