//
// Layout: Home
// --------------------------------------------------

.page-home {
	padding-top: 0;
}

// Hero
// --------------------------------------------------
.hero {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	position: relative;

	// Hero with background image
	&.is-bg-img {
		background-color: #efefef;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

// Hero Header
.hero-header {
	flex-grow: 0;
	flex-shrink: 0;
}

// Hero Body
.hero-body {
	align-items: center;
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
}

// Hero Footer
.hero-footer {
	flex-grow: 0;
	flex-shrink: 0;
}

// Hero Title
.hero-title {
	color: #2DAAE1;
	display: inline-block;
	position: relative;

	&:after {
		background-color: #fff;
		content: "";
		display: block;
		position: absolute;
			bottom: -30px;
			left: 50%;
		transform: translateX(-50%);
		.size(280px, 10px);
	}

	@media (min-width: @screen-lg) {
		font-size: 60px;
		font-weight: bold;
	}
}

// Animated Scroll Icon
// --------------------------------------------------
.scroll-icon {
	border-radius: 44px;
	border: 2px solid #fff;
	color: rgba(255, 255, 255, .5);
	display: inline-block;
	font-size: 22px;
	margin-bottom: 20px;
	transition: .4s;
	.size(26px, 44px);

	&:after {
		animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
		background-color: #fff;
		border-radius: 50%;
		content: "";
		display: inline-block;
		margin-left: -1px;
		.square(4px);
	}

	&:hover,
	&:focus {
		background-color: rgba(255, 255, 255, .05);
		color: #fff;
	}
}

@keyframes scroll-icon {
	0% {
		.opacity(0);
		transform: translateY(-12px);
	}
	30%,
	70% {
		.opacity(1);
	}
	100% {
		.opacity(0);
		transform: translateY(12px);
	}
}

// Section: Call to action
// --------------------------------------------------
.call-to-action {
	background-color: #F2F2F2;
	color: #909090;
	font-weight: bold;
	.padding-tb(40px);
	position: relative;
	.text-center();
	transition: .3s;

	&:before,
	&:after {
		background-image: url(@cta-left-image);
		background-repeat: no-repeat;
		content: "";
		display: block;
		position: absolute;
			top: 50%;
		transform: translateY(-50%);
	}
	&:before {
		background-position: @cta-left-offset-x @cta-left-offset-y;
		left: 8%;
		margin-top: @cta-left-height;
		.size(@cta-left-width, @cta-left-height);
	}
	&:after {
		background-position: @cta-right-offset-x @cta-right-offset-y;
		right: 8%;
		.size(@cta-right-width, @cta-right-height);
	}
	.title {
		font-size: 18px;
		line-height: 1.1;
		margin-bottom: unit(18 * 3, px);
	}
	.links {
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;

		> li {
			display: block;
		}
	}
	@media (min-width: @screen-sm) {
		.padding-tb(80px);

		.title {
			font-size: 24px;
			margin-bottom: unit(24 * 3, px);
		}
		.links {
			.clearfix();
			.center-block();
			width: 90%;

			> li {
				float: left;
				width: 50%;

				> a {
					font-size: 18px;
				}
			}
		}
	}
	@media (min-width: @screen-md) {
		.padding-tb(120px);

		.title {
			font-size: 32px;
			margin-bottom: unit(32 * 3, px);
		}
		.links {
			width: 80%;

			> li > a {
				font-size: 24px;
			}
		}
	}
	@media (min-width: @screen-lg) {
		.padding-tb(180px);

		.title {
			font-size: 40px;
			margin-bottom: unit(40 * 3, px);
		}
		.links {
			width: 70%;

			> li > a {
				font-size: 30px;
			}
		}
	}
}
